<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin - Products</title>
    <link rel="stylesheet" href="/css/admin/admin-product-list.css">
</head>
<body>

	<div th:replace="fragments/header :: header"></div>

    <h1>Admin - Products</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Product ID</th>
                <th>Tên</th>
                <th>Giá</th>
                <th>Trạng Thái</th>
                <th>Thể Loại</th>
                <th>Nhà Sản Xuất</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="product : ${products}">
                <td th:text="${product.productID}"></td>
                <td th:text="${product.name}"></td>
                <td th:text="${product.price}"></td>
                <td th:text="${product.status}"></td>
                <td th:text="${product.category.name}"></td>
                <td th:text="${product.manufacturer.name}"></td>
                <td>
                    <!-- Nút Edit -->
                    <a th:href="@{/admin/products/edit{id}(id=${product.productID})}">Chỉnh sửa</a>
                    
                    <!-- Nút Delete -->
                    <a th:href="@{/admin/products/delete{id}(id=${product.productID})}" 
                       onclick="return confirm('Bạn có chắc muốn xóa sản phẩm này?')">Xóa</a>
                    
                    <!-- Nút Details -->
                    <a th:href="@{/admin/products/details/{id}(id=${product.productID})}">Xem Chi Tiết</a>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- Pagination -->
    <div>
    <!--    <button th:if="${currentPage > 1}" th:href="@{/admin/products(page=${currentPage - 1})}">Previous</button> -->

        <span th:each="i : ${#numbers.sequence(1, totalPages)}">
            <a th:href="@{/admin/products(page=${i})}" th:text="${i}"
               th:classappend="${i == currentPage} ? 'active' : ''"></a>
        </span>

     <!--   <button th:if="${currentPage < totalPages}" th:href="@{/admin/products(page=${currentPage + 1})}">Next</button> -->
    </div>
    
    
    <div class="center">
        <button class="btn-red" onclick="window.location.href='/admin/products/add'">Add Product</button>
    </div>
    
    <div th:replace="fragments/footer :: footer"></div>
    
    <!-- Liên kết tới JS -->
    <script src="/js/admin/admin-product-list.js"></script>
</body>
</html>
