<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Add Manufacturer</title>
<link rel="stylesheet" href="/css/admin/manufacturer-edit.css">
</head>
<body>

	<div th:replace="fragments/header :: header"></div>
	
	<h1>Add Manufacturer</h1>
	<form th:action="@{/admin/manufacturers/add}"
		th:object="${manufacturer}" method="post">

		<!-- Tên nhà sản xuất -->
		<label for="name">Name:</label> <input type="text" id="name"
			th:field="*{name}" required /> <br />

		<!-- Địa chỉ nhà sản xuất -->
		<label for="address">Address:</label> <input type="text" id="address"
			th:field="*{address}" /> <br /> 
		<!-- Nút lưu -->
		<button type="submit">Save</button>
		<!-- Nút hủy -->
		<a href="/admin/manufacturers/">Cancel</a>
	</form>
	
	<div th:replace="fragments/footer :: footer"></div>
	
	
</body>
</html>
