<header>
    <div class="header-top-area bg-gray text-center text-md-left"  style="background-color: white; font-weight: bold ">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-5">
                    <div class="header-call-action">
                        <a href="#">
                            <i class="fa fa-envelope"></i>
                            cnpm@laptop.com
                        </a>
                        <a href="#">
                            <i class="fa fa-phone"></i>
                            0123456789
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-7">
                    <div class="header-top-right float-md-right float-none">
                        <nav>
                            <ul>
<!--                                <li>-->
<!--                                    <div class="dropdown header-top-dropdown">-->
<!--                                        <a class="dropdown-toggle" id="myaccount" data-toggle="dropdown"-->
<!--                                           aria-haspopup="true" aria-expanded="false">-->
<!--                                            Tài khoản-->
<!--                                            <i class="fa fa-angle-down"></i>-->
<!--                                        </a>-->
<!--                                        <div class="dropdown-menu" aria-labelledby="myaccount">-->
<!--                                            <a class="dropdown-item" href="">Tài khoản</a>-->
<!--                                            <a class="dropdown-item" href="/login"> Đăng nhập</a>-->
<!--                                            <a class="dropdown-item" href="/register">Đăng ký</a>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </li>-->
                                <li>
                                    <a href="#">Giỏ hàng</a>
                                </li>
                                <th:block th:if="${session.username}">
                                    <li>
                                        <a th:text="${session.fullName}"></a>
                                        <a href="/logout">Đăng xuất</a>
                                    </li>
                                </th:block>

                                <th:block th:unless="${session.username}">
                                    <li>
                                        <a href="/login">Đăng nhập</a>
                                    </li>
                                    <li>
                                        <a href="/register">Đăng ký</a>
                                    </li>
                                </th:block>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- header middle start -->
    <div class="header-middle-area pt-20 pb-20">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-3">
                    <div class="brand-logo">
                        <a href="/">
                            <img th:src="@{/assets/img/logo/logo.png}" alt="brand logo">
                        </a>
                    </div>
                </div> <!-- end logo area -->
                <div class="col-lg-9">
                    <div class="header-middle-right">
                        <div class="header-middle-block">
                            <div class="header-middle-searchbox">
                                <input type="text" placeholder="Search...">
                                <button class="search-btn"><i class="fa fa-search"></i></button>
                            </div>
                            <div class="header-mini-cart">
                                <div class="mini-cart-btn">
                                    <i class="fa fa-shopping-cart"></i>
                                </div>
                                <div class="cart-total-price">
                                    $0.00
                                </div>
                                <ul class="cart-list">
                                    <li>
                                        <div class="cart-img">
                                            <a th:href="@{/templates/product-details.html}"><img th:src="@{/assets/img/cart/cart-2.jpg}" alt=""></a>
                                        </div>
                                        <div class="cart-info">
                                            <h4><a th:href="@{/templates/product-details.html}">virtual product 10</a></h4>
                                            <span>$50.00</span>
                                        </div>
                                        <div class="del-icon">
                                            <i class="fa fa-times"></i>
                                        </div>
                                    </li>
                                    <li class="mini-cart-price">
                                        <span class="subtotal">Tổng cộng : </span>
                                        <span class="subtotal-price">$88.66</span>
                                    </li>
                                    <li class="checkout-btn">
                                        <a th:href="@{/checkout}">Mua ngay</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- header middle end -->

    <!-- main menu area start -->
    <div class="main-header-wrapper bdr-bottom1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="main-header-inner">
                        <div class="category-toggle-wrap">
                            <div class="category-toggle">
                                category
                                <div class="cat-icon">
                                    <i class="fa fa-angle-down"></i>
                                </div>
                            </div>
                            <nav class="category-menu category-style-2">
                                <ul>
                                    <li><a th:href="@{/templates/shop-grid-left-sidebar.html}"><i class="fa fa-desktop"></i> Latop Gaming</a></li>
                                    <li><a th:href="@{/templates/shop-grid-left-sidebar.html}"><i class="fa fa-desktop"></i> Latop văn phòng</a></li>
                                </ul>
                            </nav>

                        </div>
                        <div class="main-menu">
                            <nav id="mobile-menu">
                                <ul>
                                    <li class="active"><a th:href="@{/home}"><i class="fa fa-home"></i>Trang chủ </a></li>
                                    <li class="static"><a th:href="@{/products}">Sản phẩm</a></li>
                                    <li class="static"><a th:href="@{/about-us}">Về chúng tôi</a></li>
                                    <li class="static"><a th:href="@{/contact}">Liên hệ</a></li>
                                    <li th:if="${session.roleName == 'Admin'}">
                                        <a href="/admin/products">Quản Lý Sản Phẩm</a>
                                            	<ul class="dropdown">                       
                                                    <li><a href="/admin/manufacturers">Nhà Sản Xuất</a></li>
                                                    <li><a href="/admin/categories">Thể Loại</a></li>
                                                </ul>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- main menu area end -->
</header>
