<header>
    <!-- header middle start -->
    <div class="header-middle-area pt-20 pb-20">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-3">
                    <div class="brand-logo">
                        <a href="index.html">
                            <img th:src="@{/assets/img/logo/logo.png}" alt="brand logo">
                        </a>
                    </div>
                </div> <!-- end logo area -->
                <div class="col-lg-9">
                    <div class="header-middle-right">
                        <div class="header-middle-block">
                            <div class="header-middle-searchbox">
                                <input type="text" placeholder="Search...">
                                <button class="search-btn"><i class="fa fa-search"></i></button>
                            </div>
                            <div class="header-mini-cart">
                                <div class="mini-cart-btn">
                                    <i class="fa fa-shopping-cart"></i>
                                    <span class="cart-notification">2</span>
                                </div>
                                <div class="cart-total-price">
                                    <span>total</span>
                                    $50.00
                                </div>
                                <ul class="cart-list">
                                    <li>
                                        <div class="cart-img">
                                            <a th:href="@{/templates/product-details.html}"><img th:src="@{/assets/img/cart/cart-2.jpg}" alt=""></a>
                                        </div>
                                        <div class="cart-info">
                                            <h4><a th:href="@{/templates/product-details.html}">virtual product 10</a></h4>
                                            <span>$50.00</span>
                                        </div>
                                        <div class="del-icon">
                                            <i class="fa fa-times"></i>
                                        </div>
                                    </li>
                                    <li class="mini-cart-price">
                                        <span class="subtotal">subtotal : </span>
                                        <span class="subtotal-price">$88.66</span>
                                    </li>
                                    <li class="checkout-btn">
                                        <a th:href="@{/checkout}">checkout</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- header middle end -->

    <!-- main menu area start -->
    <div class="main-header-wrapper bdr-bottom1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="main-header-inner">
                        <div class="category-toggle-wrap">
                            <div class="category-toggle">
                                category
                                <div class="cat-icon">
                                    <i class="fa fa-angle-down"></i>
                                </div>
                            </div>
                            <nav class="category-menu category-style-2">
                                <ul>
                                    <li><a th:href="@{/templates/shop-grid-left-sidebar.html}"><i class="fa fa-desktop"></i> Latop Gaming</a></li>
                                    <li><a th:href="@{/templates/shop-grid-left-sidebar.html}"><i class="fa fa-desktop"></i> Latop văn phòng</a></li>
                                </ul>
                            </nav>

                        </div>
                        <div class="main-menu">
                            <nav id="mobile-menu">
                                <ul>
                                    <li class="active"><a th:href="@{/home}"><i class="fa fa-home"></i>Trang chủ </a></li>
                                    <li class="static"><a th:href="@{/products}">Sản phẩm</a></li>
                                    <li class="static"><a th:href="@{/about-us}">Về chúng tôi</a></li>
                                    <li class="static"><a th:href="@{/contact}">Liên hệ</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- main menu area end -->
</header>
