<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<section class="row" layout:fragment="content">


<head>
    <meta charset="utf-8">
    <title>Thông tin đơn hàng</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>

<div class="checkout-page-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Checkout Login Coupon Accordion Start -->
                <div class="checkoutaccordion" id="checkOutAccordion">

                    <div class="card">
                        <h3>Have A Coupon? <span data-toggle="collapse" data-target="#couponaccordion">Click Here To Enter Your Code</span></h3>
                        <div id="couponaccordion" class="collapse" data-parent="#checkOutAccordion">
                            <div class="card-body">
                                <div class="cart-update-option">
                                    <div class="apply-coupon-wrapper">
                                        <form action="#" method="post" class=" d-block d-md-flex">
                                            <input type="text" placeholder="Enter Your Coupon Code" required />
                                            <button class="check-btn sqr-btn">Apply Coupon</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Checkout Login Coupon Accordion End -->
            </div>
        </div>

<div class="row">
    <!-- Checkout Billing Details -->
    <div class="col-lg-6">
        <div class="checkout-billing-details-wrap">
            <h2>Billing Details</h2>
            <div class="billing-form-wrap">
                <form action="#">
                    <div class="single-input-item">
                        <label for="f_name" class="required">Name</label>
                        <input type="text" id="f_name" placeholder="Name" th:value="${user.name}" required />
                    </div>

                    <div class="single-input-item">
                        <label for="email" class="required">Email Address</label>
                        <input type="email" id="email" placeholder="Email Address" th:value="${user.email}" required />
                    </div>

                    <div class="single-input-item">
                        <label for="province" class="required">Province</label>
                        <input type="text" id="province" placeholder="Province" th:value="${address?.province}" required />
                    </div>

                    <div class="single-input-item">
                        <label for="district" class="required">District</label>
                        <input type="text" id="district" placeholder="District" th:value="${address?.district}" required />
                    </div>

                    <div class="single-input-item">
                        <label for="commune" class="required">Commune</label>
                        <input type="text" id="commune" placeholder="Commune" th:value="${address?.commune}" required />
                    </div>

                    <div class="single-input-item">
                        <label for="street-address" class="required pt-20">Street address</label>
                        <input type="text" id="street-address" placeholder="Street address Line 1" th:value="${address?.other}" required />
                    </div>

                    <div class="single-input-item">
                        <input type="text" placeholder="Street address Line 2 (Optional)" />
                    </div>

                    <div class="single-input-item">
                        <label for="phone">Phone</label>
                        <input type="text" id="phone" placeholder="Phone" th:value="${user.phone}" required />
                    </div>

                    <div class="single-input-item">
                        <label for="ordernote">Order Note</label>
                        <textarea name="ordernote" id="ordernote" cols="30" rows="3" placeholder="Notes about your order, e.g. special notes for delivery."></textarea>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Order Summary Details -->
    <div class="col-lg-6">
        <div class="order-summary-details mt-md-26 mt-sm-26">
            <h2>Your Order Summary</h2>
            <div class="order-summary-content mb-sm-4">
                <!-- Order Summary Table -->
                <div class="order-summary-table table-responsive text-center">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Products</th>
                            <th>Total</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="lineItem : ${order.listLineItems}">
                            <td>
                                <a href="single-product.html" th:text="${lineItem.product.name}"></a>
                                <strong> × <span th:text="${lineItem.quantity}"></span></strong>
                            </td>
                            <td><span th:text="${lineItem.total}"></span></td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td>Sub Total</td>
                            <td><strong th:text="${order.total}"></strong></td>
                        </tr>
                        <tr>
                            <td>Shipping</td>
                            <td>
                                <ul class="shipping-type">
                                    <li>
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="flatrate" name="shipping" class="custom-control-input" value="70" onchange="updateTotal()" checked />
                                            <label class="custom-control-label" for="flatrate">Flat Rate: $70.00</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="freeshipping" name="shipping" class="custom-control-input" value="0" onchange="updateTotal()" />
                                            <label class="custom-control-label" for="freeshipping">Free Shipping</label>
                                        </div>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>Total Amount</td>
                            <td><strong id="total-amount" th:text="${order.total + 70}"></strong></td>
                        </tr>
                        </tfoot>
                    </table>
                </div>

                <!-- Order Payment Method -->
                <div class="order-payment-method">
                    <div class="single-payment-method show">
                        <div class="payment-method-name">
                            <div class="custom-control custom-radio">
                                <input type="radio" id="cashon" name="paymentmethod" value="cash" class="custom-control-input" checked />
                                <label class="custom-control-label" for="cashon">Cash On Delivery</label>
                            </div>
                        </div>
                    </div>
                    <div class="summary-footer-area">
                        <div class="custom-control custom-checkbox mb-14">
                            <input type="checkbox" class="custom-control-input" id="terms" required />
                            <label class="custom-control-label" for="terms">I have read and agree to the website <a href="index.html">terms and conditions.</a></label>
                        </div>
                        <form action="/orders/pay" method="POST">
                            <input type="hidden" name="userId" th:value="${user.userID}" />
                            <input type="hidden" name="productIds" th:value="${#strings.arrayJoin(order.listLineItems.?[product.productID], ',')}" />
                            <!-- Các input khác cho địa chỉ, ghi chú,... nếu cần -->
                            <button type="submit" class="check-btn sqr-btn">Place Order</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</body>
</section>




</html>